<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Project</key>
	<dict>
		<key>Shared Settings</key>
		<dict>
			<key>VALID_ARCHS</key>
			<string>$(ARCHS_STANDARD)</string>
		</dict>
	</dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
		<string>com.apple.dt.unit.macBase</string>
		<string>com.apple.dt.unit.macReferenceCounting</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>plugin.cpp</key>
		<dict>
			<key>Path</key>
			<string>plugin.cpp</string>
		</dict>
		<key>StdAfx.cpp</key>
		<dict>
			<key>Path</key>
			<string>StdAfx.cpp</string>
		</dict>
		<key>StdAfx.h</key>
		<dict>
			<key>Path</key>
			<string>StdAfx.h</string>
		</dict>
		<key>mayaHeaders.h</key>
		<dict>
			<key>Path</key>
			<string>mayaHeaders.h</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>Maya 2015 plug-in</string>
	<key>Description</key>
	<string>This template builds an Autodesk Maya plug-in.</string>
	<key>Identifier</key>
	<string>com.autodesk.maya.2015.plugin</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>MacOSXVersionMin</key>
	<string>10.8.5</string>
	<key>Nodes</key>
	<array>
		<string>plugin.cpp</string>
		<string>StdAfx.cpp</string>
		<string>StdAfx.h</string>
		<string>mayaHeaders.h</string>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.library.dynamic</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Headers</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>CLANG_CXX_LIBRARY</key>
					<string>libstdc++</string>
					<key>CLANG_CXX_LANGUAGE_STANDARD</key>
					<string>gnu++0x</string>
					<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
					<string>YES</string>
					<key>GCC_PREFIX_HEADER</key>
					<string>$(MAYA_LOCATION)/devkit/include/maya/OpenMayaMac.h</string>
					<key>GCC_PREPROCESSOR_DEFINITIONS</key>
					<string>MAC_PLUGIN _BOOL REQUIRE_IOSTREAM</string>
					<key>ALWAYS_SEARCH_USER_PATHS</key>
					<string>YES</string>
					<key>VALID_ARCHS</key>
					<string>$(ARCHS_STANDARD)</string>
					<key>DYLIB_COMPATIBILITY_VERSION</key>
					<string></string>
					<key>DYLIB_CURRENT_VERSION</key>
					<string></string>
					<key>EXECUTABLE_EXTENSION</key>
					<string>bundle</string>
					<key>HEADER_SEARCH_PATHS</key>
					<string>. $(MAYA_LOCATION)/devkit/include/</string>
					<key>LIBRARY_SEARCH_PATHS</key>
					<string>$(MAYA_LOCATION)/Maya.app/Contents/MacOS</string>
					<key>OTHER_LDFLAGS</key>
					<string>-Wl,-executable_path,$(MAYA_LOCATION)/Maya.app/Contents/MacOS -Wl,-exported_symbol,__Z16initializePlugin7MObject -Wl,-exported_symbol,__Z18uninitializePlugin7MObject -lOpenMaya -lOpenMayaAnim -lOpenMayaRender -lOpenMayaUI -lFoundation</string>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>MACH_O_TYPE</key>
					<string>mh_bundle</string>
					<key>MACOSX_DEPLOYMENT_TARGET</key>
					<string></string>
					<key>ONLY_ACTIVE_ARCH</key>
					<string>NO</string>
					<key>SDKROOT</key>
					<string>macosx10.8</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>CLANG_CXX_LIBRARY</key>
					<string>libstdc++</string>
					<key>CLANG_CXX_LANGUAGE_STANDARD</key>
					<string>gnu++0x</string>
					<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
					<string>YES</string>
					<key>GCC_PREFIX_HEADER</key>
					<string>$(MAYA_LOCATION)/devkit/include/maya/OpenMayaMac.h</string>
					<key>GCC_PREPROCESSOR_DEFINITIONS</key>
					<string>MAC_PLUGIN _BOOL REQUIRE_IOSTREAM</string>
					<key>ALWAYS_SEARCH_USER_PATHS</key>
					<string>YES</string>
					<key>VALID_ARCHS</key>
					<string>$(ARCHS_STANDARD)</string>
					<key>DYLIB_COMPATIBILITY_VERSION</key>
					<string></string>
					<key>DYLIB_CURRENT_VERSION</key>
					<string></string>
					<key>EXECUTABLE_EXTENSION</key>
					<string>bundle</string>
					<key>HEADER_SEARCH_PATHS</key>
					<string>. $(MAYA_LOCATION)/devkit/include/</string>
					<key>LIBRARY_SEARCH_PATHS</key>
					<string>$(MAYA_LOCATION)/Maya.app/Contents/MacOS</string>
					<key>OTHER_LDFLAGS</key>
					<string>-Wl,-executable_path,$(MAYA_LOCATION)/Maya.app/Contents/MacOS -Wl,-exported_symbol,__Z16initializePlugin7MObject -Wl,-exported_symbol,__Z18uninitializePlugin7MObject -lOpenMaya -lOpenMayaAnim -lOpenMayaRender -lOpenMayaUI -lFoundation</string>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>MACH_O_TYPE</key>
					<string>mh_bundle</string>
					<key>MACOSX_DEPLOYMENT_TARGET</key>
					<string></string>
					<key>ONLY_ACTIVE_ARCH</key>
					<string>NO</string>
					<key>SDKROOT</key>
					<string>macosx10.8</string>
				</dict>
			</dict>
			<key>SharedSettings</key>
			<dict>
				<key>MAYA_LOCATION</key>
				<string>/Applications/Autodesk/maya2015</string>
				<key>USER_LOCATION</key>
				<string>$(HOME)/Library/Preferences/Autodesk/maya/2015-x64</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
